.main {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.groslogo {
  width: 400px ;
  height: 300px;

}
.petitlogo {
  width: 40px ;
  height: 30px;
  margin: 30px;
}
.gauche {
  background-image: url(../public/fond\ twitter.png);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.droite {
  height: 100%;
  width: 50%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 50vw;
}

.titre {
  font-size: 70px;
  font-weight: bold;
  margin: 30px;
}

.join {
  font-size: 30px;
  margin-left: 30px;
}

.already {
  font-size: 20px;
  margin-left: 30px;
}