.boutonsignin {
    margin: 30px;
    border-radius: 25px;
    background-color: black;
    border-color: white;
    width: 150px;
    cursor: pointer;
    height: 40px;
    color: #119afb;
    font-size: 20px;
}

.modal {
    top: '35%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    width: '60%';
    transform: 'translate(-40%, -10%)';
  }