.titre {
    margin-top:5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.tweet {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.tweetinfos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}

.btntweet {
    border-radius: 25px;
    background-color: #119afb;
    border-color: #119afb;
    width: 100px;
    cursor: pointer;
    height: 35px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 50px;
    padding: 0px;
}

.input {
    width: 470px;
    color:black;
}

.tweetcontainer {
    overflow-x: hidden;
    overflow-y: auto;
    border-block-end-style: solid;
    border-width: 1px;
    border-color: white;
    height: 85vh;
}

.haut{
    height: 15vh;
}